<div class="nav">
    <div class="container cont">
        <div style="display: flex;flex-direction: row;">
            <h3 class="title"><span class="text-primary">JOB </span><span class="text-warning">PORTAL</span></h3>
            <i class="fa-solid fa-briefcase fa-2x icon text-warning"></i>
        </div>
        <div class="links text-white">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <div class="btn btn-sm btn-success m-2"><a routerLink="/login">Login</a></div>
                <div class="btn btn-sm btn-success m-2"><a routerLink="/register">Register</a></div>
            </ul>
        </div>
    </div>
</div>


<div class="mob">
    <div class="container bg-dark"
        style="display: flex;flex-direction: row; justify-content: space-between; align-items: center;">
        <div class="text-warning" style="display: flex;flex-direction: row;">
            <i class="fa-solid fa-briefcase fa-2x icon"></i>
        </div>
        <div style="align-items: center;">
            <h1 class="text-warning" style="font-weight: 600;">JOBPORTAL</h1>
        </div>
        <div class="btn text-white">
            <i [class]="iconclass" (click)="togglemenu()"></i>
        </div>

    </div>


    <div class="moblinks" *ngIf="clicked">
        <ul>
            <li>Home</li>
            <li>Login</li>
            <li>Register</li>
        </ul>
    </div>

</div>